<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <h2>{{title}} in hbs </h2>
    <p>the name is:-{{name}}</p>
    <h2>city is:- {{city}}  </h2>
    <p>age is:-{{age}}</p>
    <img src={{image1}} alt="">
</body>
</html>